

/*========================
          pop up
==========================*/

body {
  font-family: 'Karla', Helvetica, Arial, sans-serif;

  width:260px;
  padding:25px;
  -webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	text-align:center;
}

/*========================
           header
==========================*/

#roundlogo {
 

}

a#hedlink {
  text-decoration: none;
  color: #e3553c;

}

a#hedlink:focus {
  outline: none;
}
/*========================
           text
==========================*/



h2 { /*title: don't forget to eat*/
  font-size: 18px;
  color: #777;
  line-height:0px;
}

p{ /* paragraph text */
font-size:14px;
line-height:20px;
color:#888;
font-weight:normal;
}


#reminders {

}
#clock {
/*  width: 500px;
  font-size: 18px;
  color: #e3553c;
*/
}
#clockInput {
	font-size: 14px;
	margin:20px;
}

#weekdays{
margin:6px;
}

#weekends{

margin:6px;
}

#clock div {
 /* display: inline-block;
*/
}

input[type=checkbox]:not(old) {
background:black;
background-color:black;
display:inline-block;
}



/*========================
        time picker
==========================*/
#time {


}
.time {
	font-size:30px;
	border-bottom: 1px dashed #888;
	cursor: pointer;
	color: #e3553c;

/*
  cursor: pointer;
  border: 1px solid #ddd;
  color: #888;
  border-radius:6px;
  padding:8px 14px;
*/

}
.time:hover {
	color: #c84b35;
	border-bottom: 1px dashed #c84b35;
}
.timeList {

	/* text */
	color: #888;
	text-align:left;
  	
	/* general */
	padding:10px;	
	width: 90px;
	display: none;
	overflow-y: scroll;
	z-index:1000;
	max-height: 100px;
  	border-radius:0px 6px 6px 6px;
  	background-color: #fafafc;

  
	/* position */	
	position: absolute;
	left: 0;	
	right: 0;
  
  
	border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

}
.timeOption {
	cursor: pointer;
	background-color: #fafafc;
	color: #888;
}
.timeOption:hover {
	background-color: #eee;
	color:#555;
}




/*========================
  [ remind me button ]
==========================*/

#remindme {

	/* text 
	color: white;
	font-size:14px;
	text-align:center;*/
	
	/* appearance 
  	background:#6eb9b1;
	cursor: pointer;
	border-radius:60px;
	padding:14px 10px; 
	width:100px;*/
	
	/*position
	margin-bottom:20px;
	margin-top:20px;
	position: relative;
	left:50%;
	margin-left:-60px;
  */
}

.tinyText{
font-size:10px;
font-size:#999;
line-height:10px;
}

#reminderSet{
display:none;
}
#reminderNotSet{
  display: none;
}
/*========================
   link to spoonrocket
==========================*/


a#bottomLink, #bottomLink a {
	padding-top:100px;
  margin-bottom: 20px;
  color: #888;
  border-bottom:1px solid #888;
  text-decoration: none;



}

